<!--decripcion cotenido -->
<div class="card" id="description-menu">
    <div class="card-header">
  
      <li class="text-address"><img id="img-address" src="assets/img/iconos/icono-direccion.png"
        >ALVARO CASANOVA 1826, LA REINA</li>
   
     <li class="text-surface"><img id="img-surface" src="assets/img/iconos/icono-superficie.png" 
       >FROM 52 M</li>
  
      <li class="text-bedroomss"  ><img id="img-bedroomss" src="assets/img/iconos/icono-dormitorios.png" 
        >2, 3, 4 Y 5 BEDROOMS</li>
      
    </div>
  </div>
  
  
  <!--submenus 2-->
  <div class="card" id="description-menu-2">
      <li class="text-address-2 text-center"> 
      <p>BENEFIT
      </p>Price includes cellar and barbecue on the top floor</li>
  
      <li class="text-surface-2 text-center"> 
      <p>DELIVERY</p>second semester 2021
      </li>
  
      <li class="text-bedroomss-2 text-center">
      <p>BEFORE: UF 6.500</p>
      Now from: UF 5.600</li>
  
  </div>